<div class="container">
    <button mat-raised-button class="mb-2" (click)="addEmployee()">Add Employee </button>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="employee_name">
            <th mat-header-cell *matHeaderCellDef> Name. </th>
            <td mat-cell *matCellDef="let element"> {{element.employee_name}} </td>
        </ng-container>

        <ng-container matColumnDef="employee_salary">
            <th mat-header-cell *matHeaderCellDef> Salary. </th>
            <td mat-cell *matCellDef="let element"> {{element.employee_salary}} </td>
        </ng-container>


        <ng-container matColumnDef="employee_age">
            <th mat-header-cell *matHeaderCellDef> Age. </th>
            <td mat-cell *matCellDef="let element"> {{element.employee_age}} </td>
        </ng-container>


        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action. </th>
            <td mat-cell *matCellDef="let element">
                <button mat-raised-button color="accent" (click)="editEmp(element.id)">Edit</button> &nbsp;
                <button mat-raised-button color="warn" (click)="deleteEmp(element.id)">Delete</button>
            </td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell text-center" colspan="5">No data Found</td>
        </tr>
    </table>

</div>